@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

.mainPrincipal{
   
    font-family: 'Roboto', "arial";
}

.img-responsive-banner{
    position: relative;
    display: inline-block;
}
.card-responsive-banner{
    position: absolute;
    bottom: 0;             /* posicionada en la esquina inferior izquierda */
    top: 55%; 
    left: 50px;
    width: 50%;
}
#textoUnicoBanner{
  font-size: 20px;
  
}

.section-bienvenida:hover {
  background: rgb(214,119,162);
background: linear-gradient(100deg, rgba(214,119,162,1) 27%, rgba(229,18,105,1) 53%, rgba(188,34,111,1) 78%, rgba(188,34,111,1) 93%);
}

.text.configured{
  display: flex;
  vertical-align: inherit;
}

#botonUnicoBienvenida{
  background: rgb(214,119,162);
  background: linear-gradient(100deg, rgba(214,119,162,1) 27%, rgba(229,18,105,1) 53%, rgba(188,34,111,1) 78%, rgba(188,34,111,1) 93%);
}

.botonCardModal{
  background: rgb(214,119,162);
  background: linear-gradient(100deg, rgba(214,119,162,1) 27%, rgba(229,18,105,1) 53%, rgba(188,34,111,1) 78%, rgba(188,34,111,1) 93%);  
}



@media screen and (min-width: 990px) {
.v-line{
  border-left:thick solid  rgba(214,119,162,1);
  height: 20%;
  position: absolute;
  border-width: 0.5px;
  margin-top: 3px;
  margin-left: -10px;
}

}
/*@media screen and (min-width:700px){
  .img-responsive-banner{
    position: relative;
    display: inline-block;
}
.card-responsive-banner{
  position: absolute;         
  top: 30%; 
  left: 50px;
  width: 50%;
}
#botonUnicoBienvenida{
  position: absolute;
  left: 50px;
  top: 115px;
 }
}*/
 @media screen and (max-width:960px) {

  .img-responsive-banner{
    position: relative;
    display: inline-block;
}
.card-responsive-banner{
  position: absolute;         
  top: 20%; 
  left: 50px;
  width: 50%;
}
#botonUnicoBienvenida{
  position: absolute;
  left: 290px;
  width: 50%;
  top: 115px;
 }

 }
 @media screen and (max-width:500px) {

  .img-responsive-banner{
    position: relative;
    display: inline-block;
}
#botonUnicoBienvenida{
  position: absolute;
  left: 230px;
  width: 50%;
  top: 90px;
 }
 .card-responsive-banner{
  top:20px
 }
 #textoUnicoBanner{
  font-size: 17px;
 }

 }
 

