.RedesFooter {
    font-size: 45px;
    margin: auto;
    display: flex;
    justify-content:center;
}
.RedesFooter i{
      margin: 10px;   
      color: rgb(250, 139, 222);
}
.titulosFooter{
    justify-content: center;
    color: rgb(250, 139, 222);
}