.RedesFooter {
    font-size: 25px;
    margin: auto;
    display: flex;
    justify-content:center;
}
i{
    color:#EA5880;
}
.RedesFooter i{
      margin: 10px;   
      color: #D677A2;
}
.titulosFooter{
    justify-content: center;
    color:#EA5880;
    font-size: 20px;
}
